body{
    background-color: beige;
    padding: 0;
    margin: 0;
    
}

h1{
    text-align: center;
}

.allDiv{
    
    border: 1px solid green;
    border-radius: 2ch;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    margin: auto;
    align-self: auto;
    width: 50%;
}

.inputFields{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.buttons{
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: auto */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
button ,h3 ,input {
    font-weight: 600;
}

